.navbar{
    position: absolute;
    top: 0px;
    width: 100vw;
    height:12vh;
    background-color: rgb(40, 45, 48);
    
   
    display: flex;
    align-items: center;
    justify-content: center;
}